<!DOCTYPE html>
<html lang="kr">
  <body>

    <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
    
      <title>ETEVERSE</title>
    
      <!-- slider stylesheet -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
    
      <!-- bootstrap core css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}"/>
    
      <!-- fonts style -->
      <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
      <!-- responsive style -->
      <link href="{{ url_for('static',filename='css/resposive.css') }}"rel="stylesheet" />
  
      <style>
        #header {
        display:flex;
      }
      .info_section .info_logo h2 {
        font-size: 6.5rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
  
  
      .login_btn{
        position: absolute;
        top:2%;
        left:11.5%;;
        z-index: 990;
        color:white;
        padding:0 10px;
        border: 1px solid white;
        border-radius: 10px;
      }
  
  
      .logout_btn{
        position: absolute;
        top:2%;
        left:11.5%;;
        z-index: 990;
        color:white;
        padding:0 10px;
        border: 1px solid white;
        border-radius: 10px;
      }
  
      .logout_btn *{
        color:white;
      }
  
      .login_btn *{
        color:white;
      }
      #clock{
        position: absolute;
        top:2%;
        left:19%;;
        z-index: 990;
        color:white;
        padding:0 10px;
      }
      
      .productimg {
        width: 10%;
        height: 15%;
        background-color: lightgray;
      }
      
    </style>
  
    </head>
    <header id="header">

      <div class="logout_btn">
        <span><a href="{{url_for('login.logout')}}" >Logout</a></span>
      </div>
      <h6 id="clock" ><small>{{session['name']}}님<br>안녕하세요</small></h6>
     
  </header>
  <body class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      <div class="brand_box">
        <a class="navbar-brand" href="{{url_for('main.main') }}">
          <span>
            ETEVERSE
          </span>
        </a>
      </div>
      <!-- end header section -->
    
        <!-- nav section -->
        {% include('nav.html') %}
        <!-- end nav section -->

    <div>
      <ul>
        {% for result in results %}
        <form action="http://127.0.0.1:5000/cart/edit" method="POST">
        <div class="orders_section" style="border:1px solid">
          <input value="{{ result.cart_id }}" type="text" name="cart_id" style="display: none;">
          <input value="{{ user_id }}" type="text" name="user_id" style="display: none;">
          <div> 
            <h3>{{ result.name }}</h3>
            <p><img src="{{ result.description }}" class="productimg" alt="..."></p>
            <p>price: {{ result.price }}<p>
            <p>delivery_charge: {{ result.delivery_charge }}<p>
            <p>count: {{ result.count }}<p>
            <p>total_price: {{ result.total_price }}<p>
          </div>

          <div>
              <div>
                  <label class="count">개수</label>
                  <input value="{{ result.count }}" type="text" class="form-control" name="count">
              </div>
         
              <p></p>
              <button type="submit" name="action" value="수정">수정</button>
              <button type="submit" name="action" value="삭제">삭제</button>
          </div><br><br>
        </div>
        </form>
        {% endfor %}

        <div class="orders_section">
          <form action="http://127.0.0.1:5000/orders/{{ user_id }}" method="GET">
            <button type="submit" name="action" value="결제">결제</button>
          </form>
        </div>
            
    
      </ul>
    </div>

    <!-- info section -->

    <section class="info_section layout_padding">
      <div class="container">
        <div class="info_logo">
          <h2>
            ETEVERSE
          </h2>
        </div>
        <div class="info_contact">
          <div class="row">
            <div class="col-md-4">
            
            </div>
            <div class="col-md-4">
          
            </div>
            <div class="col-md-4">
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-lg-9">
            <div class="info_form">
              
              
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="info_social">
              <div>
                <a href="">
                  <img src="images/facebook-logo-button.png" alt="">
                </a>
              </div>
              <div>
                <a href="">
                  <img src="images/twitter-logo-button.png" alt="">
                </a>
              </div>
              <div>
                <a href="">
                  <img src="images/linkedin.png" alt="">
                </a>
              </div>
              <div>
                <a href="">
                  <img src="images/instagram.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </section>

  <!-- end info section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; <span id="displayYear"></span> RECA2
      <a href="#">ETEVERSE PROJECT</a>
    </p>
  </section>
  <!-- footer section -->


  <script type="text/javascript" src="{{ url_for ('static',filename='js/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for ('static',filename='js/bootstrap.js') }}"></script>
  <script type="text/javascript" src="{{ url_for ('static',filename='js/custom.js') }}"></script>
  <script>
    let countBox = document.querySelector('#wallet_rest'),
        count = 0;

    let counting = setInterval(function () {
        if (count == 5000) {
            clearInterval(counting);
            return false;
        }
        count += 100;
        countBox.innerHTML = new Intl.NumberFormat().format(count)+" $";
    }, 20);
</script>
<script>
  function transfer(k) {
    var value = k.innerHTML;
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/products', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
            console.log(xhr.responseText);
        }
    };
    xhr.send('value=' + value);
    window.location.href='/products/'+value;
  }

</script>
  </body>
</html>