<!doctype html>
<html lang="kr">
  <body>
    <div class="container mt-4 mb-5">
      <ul class="list-group mb-2">
        {% for result in results %}
        <div> 
          <h3>{{ result.name }}</h3>
          <p>price: {{ result.price }}<p>
          <p>delivery_charge: {{ result.delivery_charge }}<p>
          <p>count: {{ result.count }}<p>
          <p>total_price: {{ result.total_price }}<p>
        </div>

        <form action="http://127.0.0.1:5000/cart/edit" method="POST">
          <input value="{{ result.cart_id }}" type="text" name="cart_id" style="display: none;">
          <input value="{{ user_id }}" type="text" name="user_id" style="display: none;">
          <div>
              <div>
                  <label class="count">개수</label>
                  <input value="{{ result.count }}" type="text" class="form-control" name="count">
              </div>
              <p></p>
              <button type="submit" name="action" value="수정">수정</button>
              <button type="submit" name="action" value="삭제">삭제</button>
          </div>
        </form>

        {% endfor %}

      </ul>        
    </div>
  </body>
</html>