<!DOCTYPE html>
<html>

<head>
  <style>
    #header {
      display:flex;
    }
    .info_section .info_logo h2 {
      font-size: 6.5rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
  }

    .login_btn{
      position: absolute;
      top:2%;
      left:11.5%;;
      z-index: 990;
      color:white;
      padding:0 10px;
      border: 1px solid white;
      border-radius: 10px;
    }


    .logout_btn{
      position: absolute;
      top:2%;
      left:11.5%;;
      z-index: 990;
      color:white;
      padding:0 10px;
      border: 1px solid white;
      border-radius: 10px;
    }

    .logout_btn *{
      color:white;
    }

    .login_btn *{
      color:white;
    }
    #clock{
      position: absolute;
      top:2%;
      left:19%;;
      z-index: 990;
      color:white;
      padding:0 10px;
    }
    

    .login_btn:hover{
      background-color: green;
    }
    

    .logout_btn:hover{
      background-color: red;
    }



    #weather{
      position: relative;
      width:400px;
      height:450px;

      border: 1px solid black;
      top:20px;
      left: 150px;
    }

    #weather_1{
      height:50%;
    }
    #weather_2{
      height:50%;
    }
    #search_container input{
      width: 200px;
    }
    @media (max-width: 1200px){
      #search_container input{
        width:80px;
      }
    }
  
    
  </style>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>ETEVERSE</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static',filename='css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{{ url_for ('static',filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for ('static',filename='css/responsive.css') }}" rel="stylesheet" />
  <script>
    navigator.geolocation.getCurrentPosition(function(pos) {
    var latitude = pos.coords.latitude;
    var longitude = pos.coords.longitude;})
  </script>
</head>

<body>
    <header id="header">
      {% if session %}
      <div class="logout_btn">
        <span><a href="{{url_for('login.logout')}}" >Logout</a></span>
      </div>
      <h6 id="clock" ><small>{{session['name']}}님<br>안녕하세요</small></h6>
      {% else %}
      <div class="login_btn">
        <span><a href="{{url_for('login.login_page')}}" >Login</a></span>
      </div>
      
      {% endif %}
    </header>
  <div class="hero_area">
    <!-- header section strats -->
    <!-- 로그인이 안된 상태의 메인페이지로 -->
    <div class="brand_box">
      <a class="navbar-brand" href="{{url_for('main.main')}}">
        <span>
          ETEVERSE
        </span>
      </a>
    </div>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="img-box">
              <img src="{{ url_for ('static',filename='images/slide-1.jpg') }}"alt="1">
            </div>
          </div>
          <div class="carousel-item">
            <div class="img-box">
              <img src="{{ url_for ('static',filename='images/slide-2.jpg') }}" alt="2">
            </div>
          </div>
          <div class="carousel-item">
            <div class="img-box">
              <img src="{{ url_for ('static',filename='images/slide-3.jpg') }}" alt="3">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- nav section -->
  {% include('nav.html') %}
  <!-- end nav section -->


  <!-- about section -->

  <section class="about_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="{{ url_for ('static',filename='images/mokoko.jpeg') }}" alt="">
          </div>
        </div>
        <div class="col-md-5">
          <div id="weather">
            <div id="weather_1">
              <div id="ww_b5bf98ad8269a" v='1.3' loc='id' a='{"t":"horizontal","lang":"ko","sl_lpl":1,"ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'>
                Weather Data Source:
                <a href="https://wetterlang.de/seoul_wetter_30_tage/" id="ww_b5bf98ad8269a_u" target="_blank">Wettervorhersage Seoul 30 tage</a>
            </div>
            </div>
            <div id="weather_2">
              <div id="map" style="width:100%;height:100%;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	44f63ad4ad5716ce4088d029f63bcc10"></script>
	<script>
		var container = document.getElementById('map');
    
		var options = {
			center: new kakao.maps.LatLng(37.514298092, 127.031688100),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
	</script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- fruit section -->

  <section class="fruit_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          Recommendation
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="fruit_container">
        {% for item in data %}
        <div class="box">
          <img src="{{item[0]}}" alt="item">
          <div class="link_box">
            <h5>{{item[1]}}</h5>
            <a href="{{ url_for('product.product', product_id=item[2])}}">
              Buy Now
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section>

  <!-- end fruit section -->


  <!-- contact section -->
  <section class="contact_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-lg-2 col-md-10 offset-md-1">
          <div class="heading_container">
            <hr>
            <h2>
              Request A call back
            </h2>
          </div>
        </div>
      </div>




  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_logo">
        <h2>
          ETEVERSE
        </h2>
      </div>
      <div class="info_contact">
        <div class="row">
          <div class="col-md-4">
          
          </div>
          <div class="col-md-4">
        
          </div>
          <div class="col-md-4">
            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <div class="info_form">
            
            
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="info_social">
            <div>
              <a href="">
                <img src="images/facebook-logo-button.png" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="images/twitter-logo-button.png" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="images/linkedin.png" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="images/instagram.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- end info section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; <span id="displayYear"></span> RECA2
      <a href="#">ETEVERSE PROJECT</a>
    </p>
  </section>
  <!-- footer section -->
  
  <script type="text/javascript" src="{{ url_for ('static',filename='js/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for ('static',filename='js/bootstrap.js') }}"></script>
  <script type="text/javascript" src="{{ url_for ('static',filename='js/custom.js') }}"></script>
  <script async src="https://app1.weatherwidget.org/js/?id=ww_b5bf98ad8269a"></script>
  <script type="text/javascript" src="{{ url_for ('static',filename='js/formap.js') }}"></script>
  <script>
    function transfer(k) {
      var value = k.innerHTML;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/products', true);
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onreadystatechange = function() {
          if (xhr.readyState == 4 && xhr.status == 200) {
              console.log(xhr.responseText);
          }
      };
      xhr.send('value=' + value);
      window.location.href='/products/'+value;
    }

  </script>

</body>
</html>